/* 开关容器 */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
.global_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 5px;
}
  /* 隐藏默认的复选框 */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .global_switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* 创建一个开关滑块 */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .global_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .global_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* 当复选框被选中时，改变开关的颜色 */
  input:checked + .slider {
    background-color: #c93b82;
  }
  input:checked + .global_slider {
    background-color: #9d185a;
  }
  /* 当复选框被选中时，移动开关滑块 */
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
 input:checked + .global_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* 鼠标悬停在开关上时，改变滑块的颜色 */
  .slider.round {
    border-radius:17px;
  }
  .global_slider.round {
    border-radius:34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .global_slider.round:before {
    border-radius: 50%;
  }