.trigger-button {
    background-color: #cdc8d2; /* 绿色背景 */
    color: #da7dab; /* 白色文字 */
    padding: 4px 10px; /* 内边距 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 去掉下划线 */
    display: inline-block; /* 行内块元素 */
    font-size: 16px; /* 字体大小 */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 4px 2px; /* 外边距 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    border: none; /* 去掉边框 */
    border-radius: 6px; /* 圆角 */
    transition: background-color 0.4s ease, transform 0.4s ease; /* 过渡效果 */
  }

  .trigger-button:hover {
    color: #c93b82; /* 白色文字 */
    background-color: #e37592; /* 悬停时背景色 */
    transform: scale(1.1); /* 悬停时放大 */
  }

  .trigger-button:active {
    color: #bf0537; /* 白色文字 */
    background-color: #962e70; /* 激活时背景色 */
    transform: scale(0.8); /* 激活时缩小 */
  }